# ==============================
# Node / Angular / Nest
# ==============================
node_modules
dist
build
coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# Temp
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDE / Editors
.idea
.project
.classpath
.c9
.settings
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Docker
docker-data
mysql-data

# Misc
report.*.json
