<div class="app-layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.open]="sidebarOpen">
    <app-sidebar (menuClick)="closeSidebar()"></app-sidebar>
  </aside>

  <!-- overlay mobile -->
  @if (sidebarOpen) {
    <div class="sidebar-overlay" (click)="closeSidebar()"></div>
  }

  <!-- Main -->
  <div class="main-section">
    <header class="header">
      <app-header (menuToggle)="toggleSidebar()"></app-header>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
