//_variables.scss
/* Colors */
$color-primary: #2563eb;
$color-white: #ffffff;
$color-black: #000000;
$color-gray : #d1d5db;
$color-danger: #dc2626;
$bg: #f5f7fb;
$text: #333;

/* Layout */
$header-height: 60px;
$sidebar-width: 240px;

/* Breakpoints */
$mobile: 768px;
$tablet: 1024px;
